.con{
    display: flex;
    justify-content: space-evenly;
    border: 5px solid black;
    background-color: aqua;
    height: 20vh;
    flex-wrap: wrap;
}
.img{
    height: 100%;
    border: 3px solid green;
    border-radius: 20%;
}
#asd{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20%;
    
    
    
}
label{
    font-size: larger;
    font-weight: bold;
    text-transform: capitalize;
}
#root{
    height:100vh;

}