body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
#root{
    border: 5px solid green;
    background-color: black;
    border-radius: 50%;
    width: 65%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.btn{
    margin-left: 10px;
    padding: 10px;
    border: 4px solid greenyellow;
    border-radius: 20%;
    font-size: medium;
    text-transform: capitalize;
}
.btn:hover{
    transform: translate(0,-20%);
    transform: scale(30px);
    background-color: blue;
    color: yellow;
    transition: 1s;
}
h4{ margin: 0;
    padding: 0;
    display: inline-block;
    color: white;
    /* margin-bottom: 90px; */
    /* margin-left: 120px; */
    position: relative;
    top: 0;
    left: 90px;
}